* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: #333;
    --heading-font: montserrat, helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.2);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: 2px solid #000;
}

header,
footer,
.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #eee;
    color: var(--heading-text-color);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
}

p {
    padding: 0;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}