* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --heading-text-color: #333;
    --heading-font: montserrat, helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb (0, 0, 0 / 0.2);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-background-color);
}

main img {
    /* you most likely will have other CSS declarations here */
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #eee;
    color: var(--heading-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
}

p {
    padding: 0;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}