:root {
    --heading-background-color: darkblue;
    --heading-text-color: #333;
    --heading-font: montserrat, helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb (0, 0, 0 / 0.2);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #eee;
    color: var(--heading-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}