.callout {
    max-width: 400px;
    margin: 20px;
    border: 2px solid rgba (0, 0, 0, .1);
    padding: 10px;
    background-color: darkblue;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid #555;
    padding: 2px;
    background-color: darkblue;
    width: 100px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    padding-top: 2px;
    text-align: right;
    font-size: smaller;
}